WorkbenchMenu
{
	position: absolute;
	top: 50px;
	left: 250px;
	right: 250px;
	bottom: 150px;
	background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: "ＭＳ Ｐゴシック";
	font-size: 40px;
	transition: opacity 0.2s ease;
	background-color: rgb(43, 43, 43, 0.98);
	border-radius: 25px;
	pointer-events: all;
	
	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	&.hide {
		opacity: 0;
	}

	> .button {
		display: flex;
	    border: 1px solid #888888;
		border-radius: 15px;
		padding: 10px;
		margin: 10px;
		&:hover {
			sound-in: ui.button.press;
		}
	}
}